h1 {
  font-size: 29px;
  line-height: 29px;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.twocolscont {
  float: left;
  width: 100%;
}

.twocolscont .twocol {
  float: left;
  width: 50%;
}

.twocolscont .twocol {
  float: left;
  width: 50%;
}

h3 {
  font-size: 25px;
  line-height: 25px;
}

ul {
  margin: 0 0 20px 25px;
  list-style-type: square;
}

ul li {
  padding: 0;
}

.clearfix {
  display: block;
}

a {
  color: #C35757;
  text-decoration: none;
}