@charset "utf-8";

/* CSS Document */

.audio {
  left: 5px;
  position: absolute;
  top: 5px;
  width: 17%;
}

.search {
  right: 40px;
  position: absolute;
  top: 5px;
  width: 11%;
}

.input {
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  height: 25px;
  padding: 1px;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13.3333px;
}

.input:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}


/*
.normal{
transform: scale(1,1);
    transition: transform 1s;
}

.larger{
transform: scale(5,5);
    transition: transform 1s;
}
*/

.button {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 30px;
}

body {
  margin: 0px;
  background-color: #feb200;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#loading-wrapper {
  display: none;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*  background: #FEB200;
*/
  background: #f2f2f2;
  /*    fix*/
}

#home-wrapper {
  margin-left: auto;
  margin-right: auto;
  /*  width: 1349px;
*/
  width: 100%;
  background: #FEB200;
}

#navbar {
  background: rgb(195, 32, 32);
  height: 40px;
  text-align: center;
}

#navbar ul {
  margin: 0;
  /*  margin-left: 200px;
*/
  list-style-type: none;
  height: 20px;
  padding: 10px;
}

#navbar ul li {
  display: inline;
  margin: 50px;
}

#navbar ul li a {
  text-decoration: none;
  color: #F2F2F2;
}

#navbar ul li a:hover {
  color: #EC9393;
}


/*Carousel*/

.carouselbox {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  /*  height: 610px;
*/
  height: 755px;
  background-color: whitesmoke;
}

.content {
  margin: 0;
  padding: 0;
}

.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  z-index: 2;
}

.active {}

.carouselbox button {
  border: none;
  visibility: hidden;
}

.active button {
  visibility: visible;
  color: rgba(255, 255, 255, 0.62);
  background: rgba(0, 0, 0, 0.7);
}

.offscreen {
  position: absolute;
  left: -2000px;
}

.active .buttons {
  text-align: center;
  z-index: 10;
  position: relative;
  /*  top: 577px;
*/
  top: 730px;
}

.active li {
  position: absolute;
  opacity: 0;
}

.active li.current {
  top: 0px;
  opacity: 1;
  opacity: 1;
  transition: opacity 0.5s;
}

li img {
  height: 100%;
  width: 120%;
  display: block;
}

#home-content {}

#content {
  /*    height: 600px;*/
  padding: 30px;
  margin-left: 17%;
  margin-right: 17%;
  color: #4A4545;
}

#box-container {
  /*  border-top: 5px white solid;
  border-bottom: 5px white solid;*/
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.row {
  height: 200px;
}

.box {
  float: left;
  width: 25%;
  height: 200px;
  /*  outline: 5px solid #fff;
*/
  outline: 2px solid #fff;
  overflow: hidden;
}

.nav-links {
  float: left;
  width: 12%;
  /*  margin: 30px 56px 15px 56px;
*/
  height: 90px;
}

.nav-links li a {
  color: #E2B540;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #B38C23;
  text-decoration: underline;
}

#nav-container {
  /*  height: 135px;
*/
  height: 170px;
  width: 100%;
  text-align: left;
  position: relative;
  /*    top: -340px;
*/
  /*  top: -520px;*/
  top: -16em;
  font-size: 1.3em;
}

.nav-links ul {
  margin: 0px;
  text-decoration: none;
  list-style-type: none;
}

#footer {
  clear: both;
  height: 35px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#home-footer {
  clear: both;
  height: 35px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: relative;
  top: -170px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.content-left,
.content-right {
  height: 20px;
  /*  margin: 7.5px 7.5px 7.5px 7.5px;*/
  margin: 7.5px 14.5px 7.5px 14.5px;
}

#navbar-footer {
  font-size: 14px;
  text-align: right;
}

#navbar-footer a {
  text-decoration: none;
  color: #fff;
}

.dash-black {
  color: white;
}

.nav-margin-left {
  margin-left: 32%;
}

.nav-margin-right {
  margin-right: 32%;
}

#welcome {
  width: 100%;
  overflow: hidden;
  /*  height: 720px;
*/
  height: 100%;
}

#welcome img {
  width: 100%;
}

#div-left {
  float: left;
  /*  width: 380px; */
  width: 29.6%;
  /*  background: pink;*/
  /*  height: 600px;*/
  margin-right: 50px;
}

#div-center {
  float: left;
  width: 33%;
  /*  width: 430px; */
  /*  background: blue;*/
  /*  height: 600px;*/
}

#div-right {
  float: right;
  /*  width: 380px; */
  width: 29.6%;
  /*  background: green;*/
  /*  height: 600px;*/
}

.div-content {
  margin: 20px;
  line-height: 10px;
  line-height: 25px;
}

.div-content img {
  width: 99%;
  outline: 1px solid white;
  transition: outline 0.5s;
}

.div-content img:hover {
  outline: 1px solid #feb200;
  transition: outline 0.1s;
}

#div-left,
#div-center,
#div-right {
  margin-bottom: 30px;
}

.gold {
  color: rgb(241, 195, 87);
}

.post-row {
  width: 100%;
  height: 100%;
  clear: both;
}

#map {
  outline: 1px grey solid;
  clear: both;
  background: black;
  width: 100%;
  height: 1943px;
  background: url(../images/common/map.png) no-repeat;
}


/*loader*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}

.no-js h1 {
  color: #222222;
}

.close {
  float: right;
  width: 25px;
  background-color: rgba(255, 255, 255, 0.35);
}

.close:hover {
  background-color: #F3F1F1;
}


/*enlarge*/


/*
.black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100vw;
            height: 100vw;
            background-color: black;
            z-index:1007;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
*/

.white_content {
  display: none;
  position: fixed;
  /*            top: 25%;*/
  top: 10%;
  left: 20vw;
  width: 60vw;
  height: 70%;
  border: 3px solid rgb(195, 32, 32);
  z-index: 1008;
  overflow: auto;
  /*
    transition: transform 1s;
             transform: translateY(-150%);
*/
  /*
               
*/
}


/*
.slide-down{
    transform: translateY(10%);
    transition: transform 1s;
}
*/

#loading {
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 100;
  width: 50px;
  font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 72px;
  background-image: url(../images/common/sprite.png);
  background-repeat: no-repeat;
  background-position: center;
  animation: play .8s steps(10) infinite;
  box-shadow: 0 0 200px 150px rgba(255, 255, 255, 0.38);
  background-color: #FECD5B;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}


/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) -5%, rgb(195, 32, 32) 8%, #d43f3a 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 550px;
  /*      width: 300px;*/
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 550px;
  /*      width: 300px;*/
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(250, 250, 250);
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  font-size: 18px;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 20%;
  right: -50px;
  content: ' ';
  display: block;
  width: 32px;
  height: 32px;
  margin-top: -10px;
  background: #feb200;
  border-radius: 20px;
  border: 4px solid #F2F2F2;
  z-index: 10;
}

.direction-r .flag:before {
  left: -50px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.86666em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
  font-weight: 700;
}

.desc {
  margin: 1em 0.75em 0 0;
  /*      font-size: 0.77777em;*/
  /*  font-style: italic;*/
  line-height: 1.5em;
  background: rgba(255, 255, 255, 0.61);
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #D4D4D4;
}


}
.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
.desc p {
  /*      width: 200%;*/
}

/* ================ Timeline Media Queries ================ */
@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
  
  .timeline li {
    padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  
  .flag-wrapper {
    text-align: center;
  }
  
  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
  
  .direction-l .time-wrapper {
    float: none;
  }
  
  .direction-r .time-wrapper {
    float: none;
  }
  
  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
  }
}
@media screen and (min-width: 400px ?? max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}

/*slider feedback*/
#slideout {
  position: fixed;
  top: 40px;
  left: 0;
  width: 35px;
  padding: 12px 0;
  text-align: center;
  background: #feb200;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
#slideout_inner {
  position: fixed;
  top: 40px;
  left: -250px;
  background: #feb200;
  width: 200px;
  padding: 25px;
  height: 130px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  text-align: left;
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
#slideout_inner textarea {
  width: 190px;
  height: 100px;
  margin-bottom: 6px;
}
#slideout:hover {
  left: 250px;
}
#slideout:hover #slideout_inner {
  left: 0;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
center {
  transition: transform 0.5s;
}
.selected {
  transition: transform 0.5s;
}
.selected:hover {
  transform: rotateY(360deg) scale(2, 2);
  transition: transform 0.5s;
}
center:hover {
  transform: scale(2, 2);
}
.gold-box {
  background-color: gold;
  width: 17px;
  height: 17px;
  right: 5px;
  position: absolute;
  top: 12px;
  outline: 1px solid rgb(140, 36, 36);
}
.red-box {
  background-color: red;
  width: 17px;
  height: 17px;
  right: 30px;
  position: absolute;
  top: 12px;
  outline: 1px solid rgb(140, 36, 36);
}
.lang-sample {
  height: 80px;
  padding: 1px;
  background-color: #E4E4E4;
  padding-left: 15px;
}
.lang-sample:hover {
  background-color: #D8D8D8;
}

.div-content h1{
    font-variant: small-caps;
}

.pos-text{
   right: 245px;
  position: absolute;
  top: 12px;   
}

.logo img{
    height: 30px;
    width: 30px;
      left: 360px;
  position: absolute;
  top: 6px;
    outline: 1px solid black;
}

.cal{
    bottom: 10px;
    position: fixed;
    left: 10px;
}